body {
  font-family: Monospace;
  margin: 1em;
  padding: 0;
  text-transform: uppercase;
}
h1,h2,h3,h4,h6,h6,p {
  margin: 0;
  padding: 0;
}
.alert {
    text-align: center;
}
.alert-info {
    color: green;
}
.alert-danger {
    color: red;
}
